{{define "home"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Rick & Morty </title>
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/animation.css">
    <link rel="stylesheet" href="/assets/css/universal.css">
    <link rel="stylesheet" href="/">
</head>
<body>
    <header>
        <nav>
            <h1>Rick & Morty</h1>
            <ul>
                <li><a href="/home">Accueil</a></li>
                <li><a href="/character">characters</a></li>
                <li><a href="/episode">Épisodes</a></li>
                <li><a href="/location">Lieux</a></li>
                <li><a href="/Favoris>Favoris"></a>Favoris</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Bienvenue sur Site Rick & Morty</h2>
            <p>Découvrez l'univers déjanté de Rick & Morty</p>
        </section>

        <section class="features">
            <article>
                <h3>Derniers Épisodes</h3>
                <p>Explorez les dernières aventures de Rick et Morty.</p>
            </article>
            
            <article>
                <h3>Personnages Populaires</h3>
                <p>Découvrez les personnages les plus appréciés de la série.</p>
            </article>
            
            <article>
                <h3>Lieux Mystérieux</h3>
                <p>Visitez les endroits les plus étranges du multivers.</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Rick Morty</h3>
                <p>Discover and download high-quality wallpapers for your desktop and mobile devices.</p>
            </div>

            <div class="footer-section">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Abstract</a></li>
                    <li><a href="#">Space</a></li>
                    <li><a href="#">Minimal</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2024 Rick Morty. All rights reserved.</p>
        </div>
    </footer>
</body>

    {{end }}